.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.usersListTitles {
  width: 90%;
  height: auto;
  margin: 20px auto;
  margin-bottom: 5px;
  padding-right: 10px;
}
.usersListTitles div {
  color: #a1a1aa;
  font-size: 13px;
}
.usersListTitles li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid transparent;
}
.usersListTitles li .liNum {
  width: 50px;
}
.usersListTitles li .imgwrapper {
  width: 36px;
}
.usersListTitles li .fullname {
  flex: 1;
  padding: 0px 20px;
  text-align: center;
}
.usersListTitles li .phone {
  width: 200px;
  text-align: center;
}
.usersListTitles li .building {
  width: 150px;
  text-align: center;
}
.usersListTitles li .room {
  width: 150px;
  text-align: center;
}
.usersListTitles li span {
  margin-left: 20px;
  visibility: hidden;
}

.usersListBody {
  flex: 1;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow-y: auto;
  padding-right: 10px;
}
.usersListBody::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.usersListBody::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 2px;
}
.usersListBody div {
  font-weight: 200;
}
.usersListBody li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  padding: 1px 20px;
  border: 1px solid transparent;
  background-color: transparent;
}
.usersListBody li:nth-child(odd) {
  background-color: #1f1f1f;
  border: 1px solid transparent;
}
.usersListBody li:nth-last-child(1) {
  height: 300px;
  background-color: transparent;
}
.usersListBody li:nth-last-child(1):hover {
  border: none;
}
.usersListBody li:hover {
  border: #0b84ff solid 1px;
}
.usersListBody li .liNum {
  width: 50px;
}
.usersListBody li .imgwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.usersListBody li .imgwrapper img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.usersListBody li .fullname {
  flex: 1;
  padding: 0px 20px;
}
.usersListBody li .phone {
  width: 200px;
  text-align: center;
}
.usersListBody li .building {
  width: 150px;
  text-align: center;
}
.usersListBody li .room {
  width: 150px;
  text-align: center;
}
.usersListBody li span {
  display: inline-block;
  color: #a1a1aa;
  cursor: pointer;
  margin-left: 20px;
}

.userInfoWinWrapper {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.userInfoWinWrapper .stInfoWin {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 90%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.userInfoWinWrapper .stInfoWin .close {
  font-size: 13px;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  padding: 1px;
  cursor: pointer;
  border: #a1a1aa solid 1px;
  color: #a1a1aa;
  background-color: rgba(161, 161, 170, 0.137254902);
}
.userInfoWinWrapper .stInfoWin .left {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.userInfoWinWrapper .stInfoWin .left .img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userInfoWinWrapper .stInfoWin .left .img_wrapper img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.userInfoWinWrapper .stInfoWin .left .stnames_wrapper {
  margin-top: 20px;
}
.userInfoWinWrapper .stInfoWin .left .stnames_wrapper span {
  color: #a1a1aa;
  display: block;
  text-align: center;
  font-size: 13px;
}
.userInfoWinWrapper .stInfoWin .left .stnames_wrapper p {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
}
.userInfoWinWrapper .stInfoWin .left .pseudospace {
  flex: 1;
}
.userInfoWinWrapper .stInfoWin .left .btns_wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userInfoWinWrapper .stInfoWin .left .btns_wrapper button {
  width: 90%;
  padding: 5px 0px;
  margin: 3px 0px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
}
.userInfoWinWrapper .stInfoWin .left .btns_wrapper button:disabled {
  filter: grayscale(1);
  opacity: 0.5;
  cursor: not-allowed;
}
.userInfoWinWrapper .stInfoWin .left .btns_wrapper #save,
.userInfoWinWrapper .stInfoWin .left .btns_wrapper #edit {
  background-color: #26a845;
}
.userInfoWinWrapper .stInfoWin .left .btns_wrapper #del,
.userInfoWinWrapper .stInfoWin .left .btns_wrapper #cancel {
  background-color: red;
}
.userInfoWinWrapper .stInfoWin .left .btns_wrapper .invisibleBtns {
  visibility: hidden;
  opacity: 0;
}
.userInfoWinWrapper .right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #292929;
}
.userInfoWinWrapper .right .secRightTitle {
  color: #a1a1aa;
  font-size: 25px;
}
.userInfoWinWrapper .right .addInfosWrapper {
  margin-top: 10px;
  padding: 10px;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  position: relative;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper span {
  display: inline-block;
  color: #a1a1aa;
  font-size: 10px;
  font-weight: bolder;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper input,
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper select {
  width: 70%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #212121;
  margin-top: 2px;
  padding: 2px 5px;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper input::-webkit-outer-spin-button, .userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper input::-webkit-inner-spin-button,
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper select::-webkit-outer-spin-button,
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper select::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper input:disabled,
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper select:disabled {
  padding: 2px 0px;
  margin-top: 0px;
  background-color: transparent;
  opacity: 1;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper input:focus,
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper select:focus {
  border: 1px solid #0b84ff;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper button {
  display: block;
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #26a845;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), transparent);
  border: none;
  outline: none;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper p {
  font-size: 20px;
  overflow: auto;
  padding: 2px 0px;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper p::-webkit-scrollbar {
  cursor: grab;
  background: rgba(255, 255, 255, 0.5);
  height: 2px;
  border-radius: 3px;
}
.userInfoWinWrapper .right .addInfosWrapper .info_item_wrapper p::-webkit-scrollbar-thumb {
  cursor: grab;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.userInfoWinWrapper .right .addInfosWrapper .agent_building_wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.userInfoWinWrapper .right .addInfosWrapper .agent_building_wrapper select option:nth-child(1) {
  display: none;
}
.userInfoWinWrapper .right .addInfosWrapper .agent_building_wrapper_active {
  visibility: visible;
  opacity: 1;
}
.userInfoWinWrapper .right .pseudospace {
  flex: 1;
  display: block;
}
.userInfoWinWrapper .right .statesWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.userInfoWinWrapper .right .statesWrapper div {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.userInfoWinWrapper .right .statesWrapper div .title {
  display: block;
  text-align: center;
  padding: 12px 0px;
}
.userInfoWinWrapper .right .statesWrapper div .num {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.userInfoWinWrapper .right .statesWrapper div:nth-last-child(1) {
  background-color: rgba(253, 36, 36, 0.1);
}/*# sourceMappingURL=allusersdatapage.css.map */